@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
.hero-section {
  position: relative;
  width: 100%;
  height: 120vh;
  background-image: url('../../../assets/background-images/barista-premium-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;

  .hero-content {
    position: relative;
    z-index: 2;
    text-align: left;
    max-width: 1100px;
    padding: 0 10vw;

    img {
      margin-bottom: 0;
    }

    .hero-title {
      font-size: 75px;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0;
    }

    .hero-subtitle {
      font-size: 24px;
      font-weight: 400;
      color: white;
      font-family: 'Abel', sans-serif;
      margin: 0;
    }
  }
}

.billiard-section {
  position: relative;
  width: 100%;
  height: 130vh;
  background-image: url('../../../assets/background-images/billiard-banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .billiard-content {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 1100px;
    padding: 0 10vw;

    .billiard-title {
      font-family: 'Roboto', sans-serif;
      font-size: 75px;
      font-weight: 700;
      letter-spacing: 2px;

      span {
        font-family: 'Abel', 'Rantika', serif;
        color: #7b7e3c;
        font-size: 45px;
        font-style: italic;
        margin-bottom: -0.5rem;
      }
    }

    .billiard-subtitle {
      font-size: 24px;
      font-weight: 300;
      color: white;
      font-family: 'Roboto', sans-serif;
      margin: 0;
    }
  }
}

.our-passion-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: #060606;
  color: #fff;
  min-height: 100vh;
  padding: 20rem 10vw;
  gap: 4vw;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
}

.main-image {
  width: 350px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 18px;
  letter-spacing: 1px;
}

.description {
  font-size: 1rem;
  color: #d1d1c7;
  line-height: 2.3;
  margin-top: 3rem;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
  margin-top: 30px;
}

.sip-blooms h2 {
  color: #a3a76c;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}

.sip-blooms p {
  color: #e0e0d6;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 32px;
  line-height: 2.3;
}

.pastry-image-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pastry-image {
  width: 650px;
}

.image-overlay-container {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.title.overlay {
  position: absolute;
  top: 65%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  pointer-events: none;
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -2;
}

.bg-image {
  position: absolute;

  &-1 {
    top: 10%;
    left: 0;
    width: 400px;
    transform: rotate(5deg);
    z-index: 2;
  }

  &-2 {
    top: 0;
    right: 0;
    width: 320px;
    transform: rotate(2deg);
    z-index: 2;
  }

  &-3 {
    top: 45%;
    left: 24%;
    width: 350px;
    transform: rotate(2deg);
    z-index: -2;
  }
  &-4 {
    top: 53%;
    left: 70%;
    width: 580px;
    transform: rotate(5deg);
    z-index: -2;
  }
  &-5 {
    bottom: 0%;
    left: 0%;
    width: 200px;
    transform: rotate(5deg);
    z-index: -2;
  }
}

.our-passion-container {
  position: relative;
  z-index: 1;
}

.barista-premium {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;

  p {
    color: #a3a76c;
    max-width: 600px;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 74vh;

  .exp1-img {
    height: 530px;
    align-self: flex-end;
  }
  .exp2-img {
    height: 530px;
    align-self: flex-start;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: flex-start;
    padding: 0 3rem;
    width: 100%;
    font-size: 70px;
    font-weight: 600;

    .left-text {
      text-align: left;
    }
    .right-text {
      text-align: right;
    }
  }
}
.third-row {
  p {
    line-height: 2.3;
    margin-top: 3rem;
    color: white;
    max-width: 600px;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
  }
}
