@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.our-passion-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #060606;
  color: #fff;
  min-height: 100vh;
  padding: 20rem 10vw;
  gap: 4vw;
  position: relative;
  z-index: 1;
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -2;
}

.bg-image {
  position: absolute;

  &-2 {
    top: 8%;
    right: -2%;
    width: 420px;
    transform: rotate(10deg);
    z-index: 2;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  gap: 5rem;

  .first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;

    p {
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: #a3a76c;
      margin: 0;
      white-space: nowrap;
    }

    .horizontal-line {
      width: 16%;
      height: 2px;
      background-color: #a3a76c;
      margin: 0;
    }
  }

  .second-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;

    img {
      width: 367px;
      height: auto;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .our-passion-container {
    padding: 0 10vw;
  }

  .background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -2;
  }

  .bg-image {
    position: absolute;

    &-2 {
      top: 8%;
      right: -2%;
      width: 420px;
      transform: rotate(10deg);
      z-index: 2;
    }
  }

  .container {
    gap: 3rem;

    .first-section {
      gap: 1rem;

      p {
        font-size: 2rem;
      }
    }

    .second-section {
      gap: 1rem;

      img {
        width: auto;
        height: 425px;
      }
    }
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .our-passion-container {
    padding: 0 10vw;
  }

  .background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -2;
  }

  .bg-image {
    position: absolute;

    &-2 {
      top: 8%;
      right: -2%;
      width: 420px;
      transform: rotate(10deg);
      z-index: 2;
    }
  }

  .container {
    gap: 3rem;

    .first-section {
      gap: 1rem;

      p {
        font-size: 2rem;
      }
    }

    .second-section {
      gap: 1rem;
      justify-content: space-between;

      img {
        width: auto;
        height: 470px;
      }
    }
  }
}
